

.color-nav{
  background: linear-gradient(to bottom, #ffff00 0%, #ff9900 100%);
}

.nav-link{
  color: black;
}

.jumbotron{
  background-image: url(../imagenes/fondo\ 2.jpg);
  margin-bottom: 0;
  background-size: cover;
  background-position: center;
  height: 800px;
  color: white
}

.paginacion{
  margin-top: 550px;
  
}

.paginacion-ubicacion{
  margin-top: 125px;
}

.paginacion-arroces{
  margin-top: 610px;
}



.page-link{
  background-color: #ff9900;
  color: black;
  border: #ff9900;
}

.boton{
  color: burlywood;
}

.pie-pagina {
  margin-top: 0;
  width: 100%;
  background: linear-gradient(to bottom, #ff9900 0%, #ffff00 100%);
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 85%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 200px;
}
.pie-pagina .grupo-1 .box h2 {
  color: black;
  margin-bottom: 50px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: black;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background: linear-gradient(to bottom, #ffcc00 0%, #ffcc00 100%);
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: burlywood;
}
.pie-pagina .grupo-2 {
  background: linear-gradient(to bottom, #ffff00 0%, #ffff00 100%);
  padding: 15px 10px;
  text-align: center;
  color: black;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 400px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
